replicaCount: 2

nameOverride: "myapp"
fullnameOverride: "myapp-full"

image:
  tag: "1.27.4-alpine"

imagePullSecrets:
  - name: regcred

podAnnotations:
  prometheus.io/scrape: "true"

podSecurityContext:
  fsGroup: 1000

securityContext:
  allowPrivilegeEscalation: false

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    memory: 256Mi

nodeSelector:
  kubernetes.io/os: linux

tolerations:
  - key: "dedicated"
    operator: "Equal"
    value: "app"
    effect: "NoSchedule"

affinity:
  podAntiAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 100
        podAffinityTerm:
          labelSelector:
            matchExpressions:
              - key: app.kubernetes.io/name
                operator: In
                values:
                  - myapp
          topologyKey: kubernetes.io/hostname
